.button {
  background-color: var(--header-background);
  color: var(--header-primary-font);
  font-size: 2rem;
  font-weight: 100;
  height: 5rem;
  width: calc(100vw - 3rem);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button-wrapper {
  margin: 3rem;
}
