.nav-bar-link-section {
  background: lighten(#d1d2d3, 10%);
  padding: 1rem 2rem;
  display: block;

  & img {
    display: none;
  }
}

.nav-bar {
  &__header {
    align-items: center;
    background: var(--grey-light);
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 1.5rem;
    width: calc(100vw - 4rem);
    cursor: pointer;

    &--heading {
      font-size: 1.7rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    & img {
      border-radius: 50%;
      height: 5rem;
    }
  }

  &__links {
    list-style: none;
    position: relative;

    &--link {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      padding: 0 1rem;
    }
  }

  & input {
    background: lighten(#d1d2d3, 15%)
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      9px center;
    border: 1px solid var(--grey-light);
    color: darken(#d1d2d3, 15%);
    font-size: 2rem;
    font-weight: 100;
    height: 5rem;
    letter-spacing: 1.2px;
    margin: 0 auto;
    padding-left: 4rem;
    width: 100%;
  }
}

@media screen and (min-width: 90rem) {
  .nav-bar-link-section {
    background: darken(#d1d2d3, 10%);
    display: flex;
    justify-content: space-between;
    width: 130rem;
  }

  .nav-bar {
    &__header {
      display: none;
    }

    & img {
      border-radius: 50%;
      display: block;
      height: 5rem;
    }

    &__links {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 55%;

      &--link {
        margin-bottom: 0;
      }
    }

    & input {
      margin: 0;
      width: 30%;
    }
  }
}
