.nav-bar-link-section {
  background: lighten(#d1d2d3, 10%);
  padding: 1rem 2rem;
}

.nav-bar {
  &__links {
    list-style: none;
    position: relative;

    &--link {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      padding: 0 1rem;
    }
  }

  & input {
    background: lighten(#d1d2d3, 15%)
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      9px center;
    border: 1px solid var(--grey-light);
    color: darken(#d1d2d3, 15%);
    font-size: 2rem;
    font-weight: 100;
    height: 5rem;
    letter-spacing: 1.2px;
    margin: 0 auto;
    padding-left: 4rem;
    width: 100%;
  }
}
