.accordion-tabs .tab {
  background: #fff;
  display: none;
  flex-grow: 1;
  order: 10;
  width: 100%;
}

.accordion-tabs .tab,
.accordion-tabs label {
  order: initial;
}

// TAB STYLES
.tab {
  position: relative;

  &-placeholder {
    height: 15rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  &-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  &-plus-sign,
  &-minus-sign {
    position: absolute;
    right: 2rem;
    top: 22%;
  }

  & p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 0.3rem 1.5rem;
  }

  & p:first-of-type {
    margin-top: 2rem;
  }

  & p:last-of-type {
    margin-bottom: 3rem;
  }

  label {
    font-size: 2rem;
  }

  & .tab__heading {
    border-bottom: 1px solid var(--grey-light);
    color: var(--primary-black);
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 90%;
  }
}

.accordion-tabs {
  border: 1px solid var(--grey-light);
  display: flex;
  flex-wrap: wrap;

  & label {
    background: lighten(#d1d2d3, 10%);
    cursor: pointer;
    display: block;
    font-size: 1.9rem;
    font-weight: 100;
    margin: 0.5px 0;
    order: 1;
    order: initial;
    padding: 1rem 2rem;
    width: 100%;
    position: relative;
  }

  & input[type="radio"] {
    display: none;
  }

  & input[type="radio"]:checked + label {
    background: #fff;
  }

  & input[type="radio"]:checked + label + .tab {
    display: flex;
    flex-direction: column;
  }

  & input[type="radio"]:checked + label > span.tab-plus-sign {
    display: none;
  }

  & input[type="radio"]:not(:checked) + label > span:nth-of-type(2) {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  .accordion-section {
    margin: 0 auto;
    max-width: 130rem;
  }

  .accordion-tabs {
    border: none;

    & input[type="radio"]:checked + label + .tab {
      flex-direction: row;
    }

    & input[type="radio"]:checked + label {
      border-left: 1px solid var(--grey-light);
      border-right: 1px solid var(--grey-light);
      border-top: 1px solid var(--grey-light);
    }

    & input[type="radio"]:not(:checked) + label {
      border-bottom: 1px solid var(--grey-light);
    }

    & img {
      height: 45rem;
      padding: 2rem;
      width: 40rem;
    }

    .tab {
      border-bottom: 1px solid var(--grey-light);
      border-left: 1px solid var(--grey-light);
      border-right: 1px solid var(--grey-light);
      order: 1;

      & .tab-copy {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        & p {
          font-size: 1.8rem;
        }
      }
    }

    label {
      width: 25%;
    }
  }

  .tab-plus-sign,
  .tab-minus-sign {
    display: none;
  }
}

@media screen and (min-width: 100rem) {
  .accordion-section {
    padding: 0;
  }
}
