:root {
  --header-background: #2f2235;
  --header-primary-font: #f2f2f2;
  --header-light-font: #34d1d1;
  --button-primary-background: #3f3244;
  --grey-light: #d1d2d3;
  --grey-dark: #666;
  --primary-black: #000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.lower-highlight {
  position: relative; }
  .lower-highlight :before {
    border-bottom: 1px solid var(--grey-dark);
    bottom: -10px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8rem; }

@media screen and (min-width: 50rem) {
  .lower-highlight :before {
    border-bottom: 0; } }

.header {
  background: var(--header-background);
  color: var(--header-primary-font);
  height: 12%;
  padding: 2rem 0;
  text-align: center; }
  .header__title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .header__alternate--color {
    color: var(--header-light-font); }
  .header__student--name {
    font-size: 1.7rem;
    font-weight: 300; }

@media screen and (min-width: 50rem) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem; }
    .header h1:before,
    .header span:before {
      display: none; }
    .header__title {
      margin-bottom: 0;
      font-size: 2.8rem; }
    .header__student--name {
      font-size: 1.9rem;
      letter-spacing: 1.2px; } }

.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  color: var(--grey-dark); }

.general__header {
  font-size: 1rem;
  font-weight: 100;
  margin: 3rem 0;
  text-transform: uppercase; }

.thin-right-side-line {
  display: none; }

@media screen and (min-width: 50rem) {
  .general__header {
    border: 1px solid red;
    font-size: 1.3rem;
    padding: 0 4rem;
    width: 100vw;
    display: flex;
    align-items: center; }
  .thin-right-side-line {
    display: block;
    width: 60%;
    border: 0.5px solid var(--grey-light);
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translate(-2rem, -50%); } }

@media screen and (min-width: 60rem) {
  .thin-right-side-line {
    width: 70%; } }

@media screen and (min-width: 70rem) {
  .thin-right-side-line {
    width: 75%; } }

@media screen and (min-width: 90rem) {
  .thin-right-side-line {
    width: 80%; } }

.accordion-tabs {
  border: 1px solid var(--grey-light);
  display: flex;
  flex-wrap: wrap; }
  .accordion-tabs label {
    background: #ebecec;
    cursor: pointer;
    display: block;
    font-size: 1.9rem;
    font-weight: 100;
    margin: 0.5px 0;
    order: 1;
    order: initial;
    padding: 1rem 2rem;
    width: 100%; }
  .accordion-tabs input[type="radio"] {
    display: none; }
  .accordion-tabs input[type="radio"]:checked + label {
    background: #fff; }
  .accordion-tabs input[type="radio"]:checked + label + .tab {
    display: flex;
    flex-direction: column; }

.accordion-tabs .tab {
  background: #fff;
  display: none;
  flex-grow: 1;
  order: 10;
  width: 100%; }

.accordion-tabs .tab,
.accordion-tabs label {
  order: initial; }

.tab {
  position: relative; }
  .tab-placeholder {
    height: 15rem;
    margin-bottom: 1rem;
    width: 100%; }
  .tab-title {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .tab-plus-sign {
    position: absolute;
    right: 3rem; }
  .tab p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 0.3rem 1.5rem; }
  .tab p:first-of-type {
    margin-top: 2rem; }
  .tab p:last-of-type {
    margin-bottom: 3rem; }
  .tab label {
    font-size: 2rem; }
  .tab .tab__heading {
    border-bottom: 1px solid var(--grey-light);
    color: var(--primary-black);
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 90%; }

@media screen and (min-width: 50rem) {
  .accordion-section {
    margin: 0 auto;
    max-width: 130rem; }
  .accordion-tabs {
    border: none; }
    .accordion-tabs input[type="radio"]:checked + label + .tab {
      flex-direction: row; }
    .accordion-tabs input[type="radio"]:checked + label {
      border-left: 1px solid var(--grey-light);
      border-right: 1px solid var(--grey-light);
      border-top: 1px solid var(--grey-light); }
    .accordion-tabs input[type="radio"]:not(:checked) + label {
      border-bottom: 1px solid var(--grey-light); }
    .accordion-tabs img {
      height: 45rem;
      padding: 2rem;
      width: 40rem; }
    .accordion-tabs .tab {
      border-bottom: 1px solid var(--grey-light);
      border-left: 1px solid var(--grey-light);
      border-right: 1px solid var(--grey-light);
      order: 1; }
      .accordion-tabs .tab .tab-copy {
        display: flex;
        flex-direction: column;
        padding: 2rem; }
        .accordion-tabs .tab .tab-copy p {
          font-size: 1.8rem; }
    .accordion-tabs label {
      width: 25%; }
  .tab-plus-sign {
    display: none; } }

@media screen and (min-width: 100rem) {
  .accordion-section {
    padding: 0; } }

.button {
  background-color: var(--header-background);
  color: var(--header-primary-font);
  font-size: 2rem;
  font-weight: 100;
  height: 5rem;
  letter-spacing: 3px;
  max-width: 30rem;
  text-transform: uppercase;
  width: calc(100vw - 3rem); }

.button-wrapper {
  margin: 3rem; }

.flex-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.flex-card {
  margin-bottom: 2rem;
  width: 100%; }
  .flex-card__heading {
    border-left: 1px solid var(--grey-light);
    border-right: 1px solid var(--grey-light);
    border-top: 1px solid var(--grey-light);
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem; }
  .flex-card__image {
    height: 26rem;
    width: 100%; }

@media screen and (min-width: 50rem) {
  .flex-cards__wrapper {
    display: grid;
    grid-gap: 1px 2rem;
    grid-template-areas: "grid-one grid-one grid-one grid-one grid-two grid-two" "grid-three grid-three grid-four grid-four grid-five grid-five" "grid-six grid-six grid-seven grid-seven grid-seven grid-seven";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    max-width: 1300px; }
  .card-one {
    grid-area: grid-one; }
  .card-two {
    grid-area: grid-two; }
  .card-three {
    grid-area: grid-three; }
  .card-four {
    grid-area: grid-four; }
  .card-five {
    grid-area: grid-five; }
  .card-six {
    grid-area: grid-six; }
  .card-seven {
    grid-area: grid-seven; } }

.header-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header-bar button {
    margin-bottom: 4rem; }

.nav-bar-link-section {
  background: #ebecec;
  padding: 1rem 2rem; }
  .nav-bar-link-section img {
    display: none; }

.nav-bar__header {
  align-items: center;
  background: var(--grey-light);
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  padding: 1.5rem;
  width: calc(100vw - 4rem); }
  .nav-bar__header--heading {
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase; }
  .nav-bar__header img {
    border-radius: 50%;
    height: 5rem; }

.nav-bar__links {
  list-style: none;
  position: relative; }
  .nav-bar__links--link {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding: 0 1rem; }

.nav-bar input {
  background: #f8f8f8 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: 1px solid var(--grey-light);
  color: #aaacae;
  font-size: 2rem;
  font-weight: 100;
  height: 5rem;
  letter-spacing: 1.2px;
  margin: 0 auto;
  padding-left: 4rem;
  width: 100%; }

@media screen and (min-width: 90rem) {
  .nav-bar-link-section {
    background: #b7b9ba;
    display: flex;
    justify-content: space-between;
    width: 130rem; }
  .nav-bar__header {
    display: none; }
  .nav-bar img {
    border-radius: 50%;
    display: block;
    height: 5rem; }
  .nav-bar__links {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 55%; }
    .nav-bar__links--link {
      margin-bottom: 0; }
  .nav-bar input {
    margin: 0;
    width: 30%; } }
