:root {
  --header-background: #2f2235;
  --header-primary-font: #f2f2f2;
  --header-light-font: #34d1d1;
  --button-primary-background: #3f3244;
  --grey-light: #d1d2d3;
  --grey-dark: #666;
  --primary-black: #000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.lower-highlight {
  position: relative; }
  .lower-highlight :before {
    border-bottom: 1px solid var(--grey-dark);
    bottom: -10px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8rem; }

.header {
  background: var(--header-background);
  color: var(--header-primary-font);
  height: 12%;
  padding: 2rem 0;
  text-align: center; }
  .header__title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .header__alternate--color {
    color: var(--header-light-font); }
  .header__student--name {
    font-size: 1.7rem;
    font-weight: 300; }

.accordion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  color: var(--grey-dark); }

.general__header {
  font-size: 1rem;
  font-weight: 100;
  margin: 3rem 0;
  text-transform: uppercase; }

.accordion-tabs {
  border: 1px solid var(--grey-light);
  display: flex;
  flex-wrap: wrap; }
  .accordion-tabs label {
    background: var(--grey-light);
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 0.5px 0;
    order: 1;
    order: initial;
    padding: 1rem 2rem;
    width: 100%; }
  .accordion-tabs input[type="radio"] {
    display: none; }
  .accordion-tabs input[type="radio"]:checked + label {
    background: #fff; }
  .accordion-tabs input[type="radio"]:checked + label + .tab {
    display: block; }

.accordion-tabs .tab {
  background: #fff;
  display: none;
  flex-grow: 1;
  order: 10;
  width: 100%; }

.accordion-tabs .tab,
.accordion-tabs label {
  order: initial; }

.tab {
  position: relative; }
  .tab-placeholder {
    height: 15rem;
    width: 100%;
    margin-bottom: 1rem; }
  .tab-title {
    margin-bottom: 2rem;
    font-size: 1.6rem; }
  .tab-plus-sign {
    position: absolute;
    right: 3rem; }
  .tab p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 0.3rem 1.5rem; }
  .tab p:first-of-type {
    margin-top: 2rem; }
  .tab p:last-of-type {
    margin-bottom: 3rem; }
  .tab label {
    font-size: 2rem; }
  .tab .tab__heading {
    border-bottom: 1px solid var(--grey-light);
    color: var(--primary-black);
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto; }

.button {
  background-color: var(--header-background);
  color: var(--header-primary-font);
  font-size: 2rem;
  font-weight: 100;
  height: 5rem;
  width: calc(100vw - 3rem);
  text-transform: uppercase;
  letter-spacing: 3px; }

.button-wrapper {
  margin: 3rem; }

.flex-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.flex-card {
  width: 100%;
  margin-bottom: 2rem; }
  .flex-card__heading {
    border-left: 1px solid var(--grey-light);
    border-right: 1px solid var(--grey-light);
    border-top: 1px solid var(--grey-light);
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem; }
  .flex-card__image {
    height: 26rem;
    width: calc(100vw - 4rem); }

.header-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header-bar button {
    margin-bottom: 4rem; }

.nav-bar__header {
  align-items: center;
  background: var(--grey-light);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: calc(100vw - 4rem); }
  .nav-bar__header--heading {
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase; }
  .nav-bar__header img {
    border-radius: 50%;
    height: 5rem; }

.nav-bar-link-section {
  background: #ebecec;
  padding: 1rem 2rem; }

.nav-bar__links {
  list-style: none;
  position: relative; }
  .nav-bar__links--link {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding: 0 1rem; }

.nav-bar input {
  background: #f8f8f8 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: 1px solid var(--grey-light);
  color: #aaacae;
  font-size: 2rem;
  font-weight: 100;
  height: 5rem;
  letter-spacing: 1.2px;
  margin: 0 auto;
  padding-left: 4rem;
  width: 100%; }
